/* Colors
=============================================== */
/* colors
===============================================
$primary-dark: rgba(0, 0, 0, 1);
$secondary-dark: rgba(49, 57, 35, 1);
$primary-blue: rgba(42, 162, 179, 1);
$secondary-blue: rgba(15, 213, 224, 1);
$primary-light: rgba(208, 221, 224, 1);
$secondary-light: rgba(153, 146, 140, 1);
$white: rgba(255, 255, 255, 1);
$test: rgba(175, 217, 22, 1);
===============================================
*/
/* Variables
============================================================= */
/* Extend
============================================================= */
.grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px auto;
}

.cell-1, .cell-2, .cell-4 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.cell-1 {
  background-image: rgba(15, 213, 224, 0.3);
  /* fallback for old browsers */
  background-image: linear-gradient(to top, rgba(15, 213, 224, 0.3) 0%, rgba(42, 162, 179, 0.3) 100%);
}

.cell-3, .cell-5, .cell-6, .cell-7, .cell-9 {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cell-2 {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.cell-4 {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cell-8 {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

/* Layoute
============================================================= */
/* main grid */
/* cells */
.cell-3 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell-5 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell-6 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell-7 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell-8 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell-9 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.cell-10 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* media query */
@media (min-width: 1011px) {
  .grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 127px 127px 127px 127px 127px 127px 127px 127px 127px 150px;
    margin: 200px auto;
  }

  .cell-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .cell-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;
  }

  .cell-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .cell-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  .cell-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .cell-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-right: none;
  }

  .cell-7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 11;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .cell-8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;
  }

  .cell-9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;
  }

  .cell-10 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 12;
  }
}
/* Variables
===============================================
$primary-dark: rgba(0, 0, 0, 1);
$secondary-dark: rgba(49, 57, 35, 1);
$primary-blue: rgba(42, 162, 179, 1);
$secondary-blue: rgba(15, 213, 224, 1);
$primary-light: rgba(208, 221, 224, 1);
$secondary-light: rgba(153, 146, 140, 1);
$white: rgba(255, 255, 255, 1);
===============================================
*/
/* Fonts
=============================================== */
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
  font-size: 21px;
  color: rgba(49, 57, 35, 0.7);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(208, 221, 224, 0.7);
}

body {
  background-oolor: #d0dde0;
  background-image: url(/img/star-bg.svg), linear-gradient(-45deg, #d0dde0 0%, #99928c 100%);
  background-repeat: no;
  background-position: center 0, 0 0, 0 0;
}

/* Body */
body {
  margin: 0;
  padding: 0;
}

body, a {
  color: #d0dde0;
}

.container {
  padding: 0 25px 25px 25px;
  background: rgba(208, 221, 224, 0.3);
}

.title {
  font-size: 5em;
  margin-top: 0;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.f8 {
  font-size: .78rem;
}

.cell:hover {
  background-color: rgba(49, 57, 35, 0.7);
  color: #2aa2b3;
  transition: all 0.25s ease;
}

.cell {
  padding: 25px;
  transition: all 0.25s ease;
}

/* media query */
@media (min-width: 1011px) {
  .title {
    font-size: 130px;
    margin-top: 0;
  }

  .mobile-message {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
