/* Colors
=============================================== */
/* colors
===============================================
$primary-dark: rgba(0, 0, 0, 1);
$secondary-dark: rgba(110, 110, 110, 1);
$primary-blue: rgba(42, 162, 179, 1);
$secondary-blue: rgba(15, 213, 224, 1);
$primary-light: rgba(208, 221, 224, 1);
$secondary-light: rgba(153, 146, 140, 1);
$white: rgba(255, 255, 255, 1);
$test: rgba(175, 217, 22, 1);
===============================================
*/
/* Variables
============================================================= */
/* Extend
============================================================= */
.grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px auto;
}

.cell-1, .cell-2, .cell-3, .cell-4, .cell-5, .cell-6, .cell-7, .cell-8, .cell-9, .cell-10, .cell-11 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.cell-2, .cell-3, .cell-4, .cell-5, .cell-6, .cell-7, .cell-8 {
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Layout
============================================================= */
/* main grid */
.grid {
  grid-template-rows: repeat(8, 180px) 1fr 1fr;
}

/*
.cell {
  overflow: hidden;
}
*/
/* cells */
.cell-1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.cell-2 {
  position: relative;
  background-image: url("/img/gd_hp.jpg");
  position: relative;
}

.cell-3 {
  background-image: url("/img/wd_hp.jpg");
  position: relative;
}

.cell-4 {
  background-image: url("/img/dev_hp.jpg");
  position: relative;
}

.cell-5 {
  position: relative;
  background-image: url("/img/info_hp.jpg");
  position: relative;
}

.cell-6 {
  background-image: url("/img/pp_hp.jpg");
  position: relative;
}

.cell-7 {
  position: relative;
  background-image: url("/img/motion_hp.jpg");
}

.cell-8 {
  position: relative;
  background-image: url("/img/html_hp.jpg");
}

/* media query
============================================================= */
@media (min-width: 960px) {
  .grid {
    grid-template-rows: 180px repeat(7, 120px) 1fr 1fr;
  }

  .cell-2, .cell-3, .cell-4, .cell-5, .cell-6, .cell-7, .cell-8 {
    -webkit-background-size: 130% 130%;
            background-size: 130%;
  }

  .grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    margin: 50px auto;
  }

  .cell-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .cell-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-2:hover {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-3:hover {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-4:hover {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-5:hover {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-6:hover {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-7:hover {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-8:hover {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 11;
  }

  .cell-10 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11;
  }

  .cell-11 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 11;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  .grid {
    grid-template-rows: 230px repeat(6, 120px) 1fr 1fr;
  }

  .cell-2, .cell-3, .cell-4, .cell-5, .cell-6, .cell-7, .cell-8 {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
  }

  .grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    margin: 50px auto;
  }

  .cell-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .cell-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-2:hover {
    -webkit-background-size: 160% 160%;
            background-size: 160%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-3:hover {
    -webkit-background-size: 160% 160%;
            background-size: 160%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-4:hover {
    -webkit-background-size: 160% 160%;
            background-size: 160%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-5:hover {
    -webkit-background-size: 160% 160%;
            background-size: 160%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-6:hover {
    -webkit-background-size: 160% 160%;
            background-size: 160%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-7:hover {
    -webkit-background-size: 160% 160%;
            background-size: 160%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .cell-8:hover {
    -webkit-background-size: 160% 160%;
            background-size: 160%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: relative;
  }

  .cell-9 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .cell-10 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .cell-11 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
  }
}
.cell-1 {
  width: 100%;
  height: auto;
  text-align: left;
  position: relative;
}

.cell-1 .sldier-text h1 {
  -webkit-animation: fade-in ease-in-out 1s 0.5s both;
          animation: fade-in ease-in-out 1s 0.5s both;
}

.cell-1 .sldier-text p {
  -webkit-animation: fade-in ease-in-out 1s 0.5s both;
          animation: fade-in ease-in-out 1s 0.5s both;
}

.cell-1 ul.recent-works li {
  list-style-type: none;
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fade-out 30s infinite both;
          animation: fade-out 30s infinite both;
}

.cell-1 ul.recent-works li:nth-child(1) {
  background-image: url(/img/2400x500_1-medium_x1.png);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@media (min-width: 48em) {
  .cell-1 ul.recent-works li:nth-child(1) {
    background-image: url(/img/2400x500_1-xlarge_x3.png);
    background-position: left bottom;
  }
}
@media (min-width: 58em) {
  .cell-1 ul.recent-works li:nth-child(1) {
    background-image: url(/img/2400x500_1.png);
    background-position: left bottom;
  }
}
.cell-1 ul.recent-works li:nth-child(2) {
  background-image: url(/img/2400x500_2-medium_x1.png);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@media (min-width: 48em) {
  .cell-1 ul.recent-works li:nth-child(2) {
    background-image: url(/img/2400x500_2-xlarge_x3.png);
    background-position: left bottom;
  }
}
@media (min-width: 58em) {
  .cell-1 ul.recent-works li:nth-child(2) {
    background-image: url(/img/2400x500_2.png);
    background-position: left bottom;
  }
}
.cell-1 ul.recent-works li:nth-child(3) {
  background-image: url(/img/2400x500_3-medium_x1.png);
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@media (min-width: 48em) {
  .cell-1 ul.recent-works li:nth-child(3) {
    background-image: url(/img/2400x500_3-xlarge_x3.png);
    background-position: left bottom;
  }
}
@media (min-width: 58em) {
  .cell-1 ul.recent-works li:nth-child(3) {
    background-image: url(/img/2400x500_3.png);
    background-position: left bottom;
  }
}
/*----------------------------------------------
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
}
.modalDialog .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.modalDialog:target {
  visibility: visible;
  opacity: 1;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 90vw;
  position: relative;
  margin: 15% auto;
  padding: 2%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.close {
  color: rgba(255, 255, 255, 0.7);
  line-height: 25px;
  position: absolute;
  right: -0px;
  text-align: center;
  top: -30px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
}

.close:hover {
  color: #2aa2b3;
}

@media (min-width: 768px) {
  .modalDialog > div {
    width: 80vw;
    margin: 5% auto;
  }

  .close {
    top: -10px;
  }
}
/* modal slidershow
================================================== */
label,
#active-gd,
#active-wd,
#active-dev,
#active-info,
#active-pp,
#active-motion,
#active-email
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

#slider-gd,
#slider-wd,
#slider-dev,
#slider-info,
#slider-pp,
#slider-motion,
#slider-email {
  margin: 0 auto;
}

input {
  display: none;
}

#slide1-gd:checked ~ #slides-gd .inner {
  margin-left: 0;
}

#slide2-gd:checked ~ #slides-gd .inner {
  margin-left: -100%;
}

#slide3-gd:checked ~ #slides-gd .inner {
  margin-left: -200%;
}

#slide4-gd:checked ~ #slides-gd .inner {
  margin-left: -300%;
}

#slide5-gd:checked ~ #slides-gd .inner {
  margin-left: -400%;
}

#slide6-gd:checked ~ #slides-gd .inner {
  margin-left: -500%;
}

#slide7-gd:checked ~ #slides-gd .inner {
  margin-left: -600%;
}

#slide8-gd:checked ~ #slides-gd .inner {
  margin-left: -700%;
}

#slide1-wd:checked ~ #slides-wd .inner {
  margin-left: 0;
}

#slide2-wd:checked ~ #slides-wd .inner {
  margin-left: -100%;
}

#slide3-wd:checked ~ #slides-wd .inner {
  margin-left: -200%;
}

#slide4-wd:checked ~ #slides-wd .inner {
  margin-left: -300%;
}

#slide5-wd:checked ~ #slides-wd .inner {
  margin-left: -400%;
}

#slide6-wd:checked ~ #slides-wd .inner {
  margin-left: -500%;
}

#slide7-wd:checked ~ #slides-wd .inner {
  margin-left: -600%;
}

#slide8-wd:checked ~ #slides-wd .inner {
  margin-left: -700%;
}

#slide1-dev:checked ~ #slides-dev .inner {
  margin-left: 0;
}

#slide2-dev:checked ~ #slides-dev .inner {
  margin-left: -100%;
}

#slide3-dev:checked ~ #slides-dev .inner {
  margin-left: -200%;
}

#slide4-dev:checked ~ #slides-dev .inner {
  margin-left: -300%;
}

#slide5-dev:checked ~ #slides-dev .inner {
  margin-left: -400%;
}

#slide1-info:checked ~ #slides-info .inner {
  margin-left: 0;
}

#slide2-info:checked ~ #slides-info .inner {
  margin-left: -100%;
}

#slide3-info:checked ~ #slides-info .inner {
  margin-left: -200%;
}

#slide4-info:checked ~ #slides-info .inner {
  margin-left: -300%;
}

#slide1-pp:checked ~ #slides-pp .inner {
  margin-left: 0;
}

#slide2-pp:checked ~ #slides-pp .inner {
  margin-left: -100%;
}

#slide3-pp:checked ~ #slides-pp .inner {
  margin-left: -200%;
}

#slide4-pp:checked ~ #slides-pp .inner {
  margin-left: -300%;
}

#slide5-pp:checked ~ #slides-pp .inner {
  margin-left: -400%;
}

#slide1-motion:checked ~ #slides-motion .inner {
  margin-left: 0;
}

#slide2-motion:checked ~ #slides-motion .inner {
  margin-left: -100%;
}

#slide3-motion:checked ~ #slides-motion .inner {
  margin-left: -200%;
}

#slide4-motion:checked ~ #slides-motion .inner {
  margin-left: -300%;
}

#slide5-motion:checked ~ #slides-motion .inner {
  margin-left: -400%;
}

#slide1-email:checked ~ #slides-email .inner {
  margin-left: 0;
}

#slide2-email:checked ~ #slides-email .inner {
  margin-left: -100%;
}

#slide3-email:checked ~ #slides-email .inner {
  margin-left: -200%;
}

#slide4-email:checked ~ #slides-email .inner {
  margin-left: -300%;
}

#slide5-email:checked ~ #slides-email .inner {
  margin-left: -400%;
}

#container {
  width: 100%;
  overflow: hidden;
}

article img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 90%;
}

#slides-gd .inner {
  width: 800%;
  line-height: 0;
}

#slides-gd article {
  width: 12.5%;
  float: left;
}

#slides-wd .inner {
  width: 800%;
  line-height: 0;
}

#slides-wd article {
  width: 12.5%;
  float: left;
}

#slides-dev .inner {
  width: 500%;
  line-height: 0;
}

#slides-dev article {
  width: 20%;
  float: left;
}

#slides-info .inner {
  width: 400%;
  line-height: 0;
}

#slides-info article {
  width: 25%;
  float: left;
}

#slides-pp .inner {
  width: 800%;
  line-height: 0;
}

#slides-pp article {
  width: 12.5%;
  float: left;
}

#slides-motion .inner {
  width: 500%;
  line-height: 0;
}

#slides-motion article {
  width: 20%;
  float: left;
}

#slides-email .inner {
  width: 500%;
  line-height: 0;
}

#slides-email article {
  width: 20%;
  float: left;
}

#commands-gd {
  margin: 0 0 0 0;
  width: 100%;
  height: 0px;
  z-index: 1;
}

#commands-gd label {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

#commands-gd label:hover {
  opacity: 0.8;
}

#commands-wd {
  margin: 0 0 0 0;
  width: 100%;
  height: 0px;
  z-index: 1;
}

#commands-wd label {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

#commands-wd label:hover {
  opacity: 0.8;
}

#commands-dev {
  margin: 0 0 0 0;
  width: 100%;
  height: 0px;
  z-index: 1;
}

#commands-dev label {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

#commands-dev label:hover {
  opacity: 0.8;
}

#commands-info {
  margin: 0 0 0 0;
  width: 100%;
  height: 0px;
  z-index: 1;
}

#commands-info label {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

#commands-info label:hover {
  opacity: 0.8;
}

#commands-pp {
  margin: 0 0 0 0;
  width: 100%;
  height: 0px;
  z-index: 1;
}

#commands-pp label {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

#commands-pp label:hover {
  opacity: 0.8;
}

#commands-motion {
  margin: 0 0 0 0;
  width: 100%;
  height: 0px;
  z-index: 1;
}

#commands-motion label {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

#commands-motion label:hover {
  opacity: 0.8;
}

#commands-email {
  margin: 0 0 0 0;
  width: 100%;
  height: 0px;
  z-index: 1;
}

#commands-email label {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

#commands-email label:hover {
  opacity: 0.8;
}

#active-gd {
  position: relative;
  z-index: 5;
  margin: 10% 0 0;
  text-align: center;
}

#active-gd label {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active-gd label:hover {
  background: #fff;
  border-color: #777 !important;
}

#slide1-gd:checked ~ #commands-gd label:nth-child(2), #slide2-gd:checked ~ #commands-gd label:nth-child(3), #slide3-gd:checked ~ #commands-gd label:nth-child(4), #slide4-gd:checked ~ #commands-gd label:nth-child(5), #slide5-gd:checked ~ #commands-gd label:nth-child(6), #slide6-gd:checked ~ #commands-gd label:nth-child(7), #slide7-gd:checked ~ #commands-gd label:nth-child(8), #slide8-gd:checked ~ #commands-gd label:nth-child(1) {
  background: url("/img/next.png") no-repeat;
  float: right;
  margin: 0 12px 0 0;
  display: block;
}

#slide1-gd:checked ~ #commands-gd label:nth-child(8), #slide2-gd:checked ~ #commands-gd label:nth-child(1), #slide3-gd:checked ~ #commands-gd label:nth-child(2), #slide4-gd:checked ~ #commands-gd label:nth-child(3), #slide5-gd:checked ~ #commands-gd label:nth-child(4), #slide6-gd:checked ~ #commands-gd label:nth-child(5), #slide7-gd:checked ~ #commands-gd label:nth-child(6), #slide8-gd:checked ~ #commands-gd label:nth-child(7) {
  background: url("/img/previouspng.png") no-repeat;
  float: left;
  margin: 0 0 0 -6px;
  display: block;
}

#slide1-gd:checked ~ #active-gd label:nth-child(1), #slide2-gd:checked ~ #active-gd label:nth-child(2), #slide3-gd:checked ~ #active-gd label:nth-child(3), #slide4-gd:checked ~ #active-gd label:nth-child(4), #slide5-gd:checked ~ #active-gd label:nth-child(5), #slide6-gd:checked ~ #active-gd label:nth-child(6), #slide7-gd:checked ~ #active-gd label:nth-child(7), #slide8-gd:checked ~ #active-gd label:nth-child(8) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}

#slides-gd {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

#active-wd {
  position: relative;
  z-index: 5;
  margin: 10% 0 0;
  text-align: center;
}

#active-wd label {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active-wd label:hover {
  background: #fff;
  border-color: #777 !important;
}

#slide1-wd:checked ~ #commands-wd label:nth-child(2), #slide2-wd:checked ~ #commands-wd label:nth-child(3), #slide3-wd:checked ~ #commands-wd label:nth-child(4), #slide4-wd:checked ~ #commands-wd label:nth-child(5), #slide5-wd:checked ~ #commands-wd label:nth-child(6), #slide6-wd:checked ~ #commands-wd label:nth-child(7), #slide7-wd:checked ~ #commands-wd label:nth-child(8), #slide8-wd:checked ~ #commands-wd label:nth-child(1) {
  background: url("/img/next.png") no-repeat;
  float: right;
  margin: 0 12px 0 0;
  display: block;
}

#slide1-wd:checked ~ #commands-wd label:nth-child(8), #slide2-wd:checked ~ #commands-wd label:nth-child(1), #slide3-wd:checked ~ #commands-wd label:nth-child(2), #slide4-wd:checked ~ #commands-wd label:nth-child(3), #slide5-wd:checked ~ #commands-wd label:nth-child(4), #slide6-wd:checked ~ #commands-wd label:nth-child(5), #slide7-wd:checked ~ #commands-wd label:nth-child(6), #slide8-wd:checked ~ #commands-wd label:nth-child(7) {
  background: url("/img/previouspng.png") no-repeat;
  float: left;
  margin: 0 0 0 -6px;
  display: block;
}

#slide1-wd:checked ~ #active-wd label:nth-child(1), #slide2-wd:checked ~ #active-wd label:nth-child(2), #slide3-wd:checked ~ #active-wd label:nth-child(3), #slide4-wd:checked ~ #active-wd label:nth-child(4), #slide5-wd:checked ~ #active-wd label:nth-child(5), #slide6-wd:checked ~ #active-wd label:nth-child(6), #slide7-wd:checked ~ #active-wd label:nth-child(7), #slide8-wd:checked ~ #active-wd label:nth-child(8) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}

#slides-wd {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

#slides-wd {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

#active-dev {
  position: relative;
  z-index: 5;
  margin: 10% 0 0;
  text-align: center;
}

#active-dev label {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active-dev label:hover {
  background: #fff;
  border-color: #777 !important;
}

#slide1-dev:checked ~ #commands-dev label:nth-child(2), #slide2-dev:checked ~ #commands-dev label:nth-child(3), #slide3-dev:checked ~ #commands-dev label:nth-child(4), #slide4-dev:checked ~ #commands-dev label:nth-child(5), #slide5-dev:checked ~ #commands-dev label:nth-child(1) {
  background: url("/img/next.png") no-repeat;
  float: right;
  margin: 0 12px 0 0;
  display: block;
}

#slide1-dev:checked ~ #commands-dev label:nth-child(5), #slide2-dev:checked ~ #commands-dev label:nth-child(1), #slide3-dev:checked ~ #commands-dev label:nth-child(2), #slide4-dev:checked ~ #commands-dev label:nth-child(3), #slide5-dev:checked ~ #commands-dev label:nth-child(4) {
  background: url("/img/previouspng.png") no-repeat;
  float: left;
  margin: 0 0 0 -6px;
  display: block;
}

#slide1-dev:checked ~ #active-dev label:nth-child(1), #slide2-dev:checked ~ #active-dev label:nth-child(2), #slide3-dev:checked ~ #active-dev label:nth-child(3), #slide4-dev:checked ~ #active-dev label:nth-child(4), #slide5-dev:checked ~ #active-dev label:nth-child(5) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}

#slides-dev {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

#active-info {
  position: relative;
  z-index: 5;
  margin: 10% 0 0;
  text-align: center;
}

#active-info label {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active-info label:hover {
  background: #fff;
  border-color: #777 !important;
}

#slide1-info:checked ~ #commands-info label:nth-child(2), #slide2-info:checked ~ #commands-info label:nth-child(3), #slide3-info:checked ~ #commands-info label:nth-child(4), #slide4-info:checked ~ #commands-info label:nth-child(1) {
  background: url("/img/next.png") no-repeat;
  float: right;
  margin: 0 12px 0 0;
  display: block;
}

#slide1-info:checked ~ #commands-info label:nth-child(4), #slide2-info:checked ~ #commands-info label:nth-child(1), #slide3-info:checked ~ #commands-info label:nth-child(2), #slide4-info:checked ~ #commands-info label:nth-child(3) {
  background: url("/img/previouspng.png") no-repeat;
  float: left;
  margin: 0 0 0 -6px;
  display: block;
}

#slide1-info:checked ~ #active-info label:nth-child(1), #slide2-info:checked ~ #active-info label:nth-child(2), #slide3-info:checked ~ #active-info label:nth-child(3), #slide4-info:checked ~ #active-info label:nth-child(4) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}

#slides-info {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

#active-pp {
  position: relative;
  z-index: 5;
  margin: 10% 0 0;
  text-align: center;
}

#active-pp label {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active-pp label:hover {
  background: #fff;
  border-color: #777 !important;
}

#slide1-pp:checked ~ #commands-pp label:nth-child(2), #slide2-pp:checked ~ #commands-pp label:nth-child(3), #slide3-pp:checked ~ #commands-pp label:nth-child(4), #slide4-pp:checked ~ #commands-pp label:nth-child(5), #slide5-pp:checked ~ #commands-pp label:nth-child(1) {
  background: url("/img/next.png") no-repeat;
  float: right;
  margin: 0 12px 0 0;
  display: block;
}

#slide1-pp:checked ~ #commands-pp label:nth-child(5), #slide2-pp:checked ~ #commands-pp label:nth-child(1), #slide3-pp:checked ~ #commands-pp label:nth-child(2), #slide4-pp:checked ~ #commands-pp label:nth-child(3), #slide5-pp:checked ~ #commands-pp label:nth-child(4) {
  background: url("/img/previouspng.png") no-repeat;
  float: left;
  margin: 0 0 0 -6px;
  display: block;
}

#slide1-pp:checked ~ #active-pp label:nth-child(1), #slide2-pp:checked ~ #active-pp label:nth-child(2), #slide3-pp:checked ~ #active-pp label:nth-child(3), #slide4-pp:checked ~ #active-pp label:nth-child(4), #slide5-pp:checked ~ #active-pp label:nth-child(5) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}

#slides-pp {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

#active-motion {
  position: relative;
  z-index: 5;
  margin: 10% 0 0;
  text-align: center;
}

#active-motion label {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active-motion label:hover {
  background: #fff;
  border-color: #777 !important;
}

#slide1-motion:checked ~ #commands-motion label:nth-child(2), #slide2-motion:checked ~ #commands-motion label:nth-child(3), #slide3-motion:checked ~ #commands-motion label:nth-child(4), #slide4-motion:checked ~ #commands-motion label:nth-child(5), #slide5-motion:checked ~ #commands-motion label:nth-child(1) {
  background: url("/img/next.png") no-repeat;
  float: right;
  margin: 0 12px 0 0;
  display: block;
}

#slide1-motion:checked ~ #commands-motion label:nth-child(5), #slide2-motion:checked ~ #commands-motion label:nth-child(1), #slide3-motion:checked ~ #commands-motion label:nth-child(2), #slide4-motion:checked ~ #commands-motion label:nth-child(3), #slide5-motion:checked ~ #commands-motion label:nth-child(4) {
  background: url("/img/previouspng.png") no-repeat;
  float: left;
  margin: 0 0 0 -6px;
  display: block;
}

#slide1-motion:checked ~ #active-motion label:nth-child(1), #slide2-motion:checked ~ #active-motion label:nth-child(2), #slide3-motion:checked ~ #active-motion label:nth-child(3), #slide4-motion:checked ~ #active-motion label:nth-child(4), #slide5-motion:checked ~ #active-motion label:nth-child(5) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}

#slides-motion {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

#active-email {
  position: relative;
  z-index: 5;
  margin: 10% 0 0;
  text-align: center;
}

#active-email label {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active-email label:hover {
  background: #fff;
  border-color: #777 !important;
}

#slide1-email:checked ~ #commands-email label:nth-child(2), #slide2-email:checked ~ #commands-email label:nth-child(3), #slide3-email:checked ~ #commands-email label:nth-child(4), #slide4-email:checked ~ #commands-email label:nth-child(5), #slide5-email:checked ~ #commands-email label:nth-child(1) {
  background: url("/img/next.png") no-repeat;
  float: right;
  margin: 0 12px 0 0;
  display: block;
}

#slide1-email:checked ~ #commands-email label:nth-child(5), #slide2-email:checked ~ #commands-email label:nth-child(1), #slide3-email:checked ~ #commands-email label:nth-child(2), #slide4-email:checked ~ #commands-email label:nth-child(3), #slide5-email:checked ~ #commands-email label:nth-child(4) {
  background: url("/img/previouspng.png") no-repeat;
  float: left;
  margin: 0 0 0 -6px;
  display: block;
}

#slide1-email:checked ~ #active-email label:nth-child(1), #slide2-email:checked ~ #active-email label:nth-child(2), #slide3-email:checked ~ #active-email label:nth-child(3), #slide4-email:checked ~ #active-email label:nth-child(4), #slide5-email:checked ~ #active-email label:nth-child(5) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}

#slides-email {
  position: relative;
  padding: 2px;
  margin: 1em 0;
}

.caption {
  line-height: 20px;
  margin: 0 0 0%;
  padding: 0px;
  opacity: 0;
  color: #fff;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: .8em;
}

.caption bar {
  display: inline-block;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

h3.text {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0 0 1em 0;
}

#slides-gd .inner {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
       -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slider-gd {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#commands-gd label {
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1-gd:checked ~ #slides-gd article:nth-child(1) .caption, #slide2-gd:checked ~ #slides-gd article:nth-child(2) .caption, #slide3-gd:checked ~ #slides-gd article:nth-child(3) .caption, #slide4-gd:checked ~ #slides-gd article:nth-child(4) .caption, #slide5-gd:checked ~ #slides-gd article:nth-child(5) .caption, #slide6-gd:checked ~ #slides-gd article:nth-child(6) .caption, #slide7-gd:checked ~ #slides-gd article:nth-child(7) .caption, #slide8-gd:checked ~ #slides-gd article:nth-child(8) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider-gd {
  max-width: 960px;
}

#slides-wd .inner {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
       -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slider-wd {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#commands-wd label {
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1-wd:checked ~ #slides-wd article:nth-child(1) .caption, #slide2-wd:checked ~ #slides-wd article:nth-child(2) .caption, #slide3-wd:checked ~ #slides-wd article:nth-child(3) .caption, #slide4-wd:checked ~ #slides-wd article:nth-child(4) .caption, #slide5-wd:checked ~ #slides-wd article:nth-child(5) .caption, #slide6-wd:checked ~ #slides-wd article:nth-child(6) .caption, #slide7-wd:checked ~ #slides-wd article:nth-child(7) .caption, #slide8-wd:checked ~ #slides-wd article:nth-child(8) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider-wd {
  max-width: 960px;
}

#slider-wd {
  max-width: 960px;
}

#slides-dev .inner {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
       -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slider-dev {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#commands-dev label {
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1-dev:checked ~ #slides-dev article:nth-child(1) .caption, #slide2-dev:checked ~ #slides-dev article:nth-child(2) .caption, #slide3-dev:checked ~ #slides-dev article:nth-child(3) .caption, #slide4-dev:checked ~ #slides-dev article:nth-child(4) .caption, #slide5-dev:checked ~ #slides-dev article:nth-child(5) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider-dev {
  max-width: 960px;
}

#slides-info .inner {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
       -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slider-info {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#commands-info label {
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1-info:checked ~ #slides-info article:nth-child(1) .caption, #slide2-info:checked ~ #slides-info article:nth-child(2) .caption, #slide3-info:checked ~ #slides-info article:nth-child(3) .caption, #slide4-info:checked ~ #slides-info article:nth-child(4) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider-info {
  max-width: 960px;
}

#slides-pp .inner {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
       -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slider-pp {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#commands-pp label {
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1-pp:checked ~ #slides-pp article:nth-child(1) .caption, #slide2-pp:checked ~ #slides-pp article:nth-child(2) .caption, #slide3-pp:checked ~ #slides-pp article:nth-child(3) .caption, #slide4-pp:checked ~ #slides-pp article:nth-child(4) .caption, #slide5-pp:checked ~ #slides-pp article:nth-child(5) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider-pp {
  max-width: 960px;
}

#slides-motion .inner {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
       -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slider-motion {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#commands-motion label {
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1-motion:checked ~ #slides-motion article:nth-child(1) .caption, #slide2-motion:checked ~ #slides-motion article:nth-child(2) .caption, #slide3-motion:checked ~ #slides-motion article:nth-child(3) .caption, #slide4-motion:checked ~ #slides-motion article:nth-child(4) .caption, #slide5-motion:checked ~ #slides-motion article:nth-child(5) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider-motion {
  max-width: 960px;
}

#slides-email .inner {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
       -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slider-email {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#commands-email label {
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1-email:checked ~ #slides-email article:nth-child(1) .caption, #slide2-email:checked ~ #slides-email article:nth-child(2) .caption, #slide3-email:checked ~ #slides-email article:nth-child(3) .caption, #slide4-email:checked ~ #slides-email article:nth-child(4) .caption, #slide5-email:checked ~ #slides-email article:nth-child(5) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider-email {
  max-width: 960px;
}

.mobile-message {
  display: none;
}

/* media query for modal slidershow
=============================================== */
@media (min-width: 768px) {
  .modalDialog > div {
    margin: 2% auto;
    position: relative;
  }

  .close {
    top: 0;
    right: 0;
  }

  article img {
    max-width: 80%;
  }

  #commands-gd,
  #commands-wd,
  #commands-dev,
  #commands-info,
  #commands-pp,
  #commands-motion,
  #commands-email {
    height: 50px;
    position: absolute;
    top: 40%;
    width: 95%;
  }

  #active-gd,
  #active-wd,
  #active-dev,
  #active-info,
  #active-pp,
  #active-motion,
  #active-email {
    width: 30%;
    margin: 5% auto;
  }
}
/* Colours
===============================================
$primary-dark: rgba(0, 0, 0, 1);
$secondary-dark: rgba(49, 57, 35, 1);
$primary-blue: rgba(42, 162, 179, 1);
$secondary-blue: rgba(15, 213, 224, 1);
$primary-light: rgba(208, 221, 224, 1);
$secondary-light: rgba(153, 146, 140, 1);
$white: rgba(255, 255, 255, 1);
===============================================
*/
/* Variables
=============================================== */
/* Extend
=============================================== */
body {
  background-image: url(/img/star-bg.svg), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.2) 30%, rgba(153, 146, 140, 0.8) 70%);
  background-image: url(/img/star-bg.svg), -o-linear-gradient(135deg, rgba(0, 0, 0, 0.2) 30%, rgba(153, 146, 140, 0.8) 70%);
  background-image: url(/img/star-bg.svg), linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 30%, rgba(153, 146, 140, 0.8) 70%);
  background-color: #207d8a;
  background-repeat: no-repeat;
  background-position: center 0, 0 0, 0 0;
  -webkit-background-size: contain;
          background-size: contain;
}

/* Body */
h1 {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  color: white;
}
.wf-active h1 {
  font-family: "Roboto Mono", monospace;
}

.modalDialog font-family, body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.wf-active .modalDialog font-family, .modalDialog .wf-active font-family, .wf-active body {
  font-family: "Roboto", sans-serif;
}

/* Layout
=============================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  display: inline;
  background-color: rgba(0, 0, 0, 0.5);
}

p, .text {
  font-size: .85em;
  line-height: 1.45em;
}

a {
  text-decoration: none;
  color: #bae8ef;
}

a:hover {
  color: white;
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

video {
  width: 100%;
  height: auto;
}

.container {
  padding: 0 25px 25px 25px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container > h1 {
  text-align: center;
}

.flex-container > a {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
}

.caption {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.caption bar a,
.blue {
  color: #0fd5e0;
}

.dark {
  color: #313923;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.mobile-message {
  display: none;
}

.motion-container {
  padding-top: 2%;
}

video.geminare {
  max-width: 508px;
  max-height: 300px;
}

video.linkpro {
  max-width: 752px;
  max-height: 240px;
}

video.bee {
  max-width: 750px;
  max-height: 562px;
}

/* header
=============================================== */
.cell-1 .sldier-text h1.header-title {
  font-size: 1.25em;
  background-color: transparent;
}

p.sldier-text {
  font-size: .8em;
  line-height: 1.45em;
}

/* button & more
=============================================== */
.button {
  background-color: rgba(15, 213, 224, 0.7);
  border: none;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  padding: 2%;
}

.button:hover {
  background-color: rgba(49, 57, 35, 0.3);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* footer
=============================================== */
.footer {
  padding-top: 25px;
}

.footer h1 {
  background-color: transparent;
}

/* media query
=============================================== */
@media (min-width: 960px) {
  /* header
  =============================================== */
  .cell-1 .sldier-text h1.header-title {
    font-size: 2em;
    position: absolute;
    top: 0;
    margin: 0;
  }

  p.sldier-text {
    position: absolute;
    top: 10%;
    font-size: 1.15em;
    line-height: 1.5em;
  }

  .button {
    padding: 5%;
  }

  .footer button.button:hover span {
    padding-right: 15px;
  }

  .footer {
    padding-right: 35px;
  }

  .smaller-font {
    font-size: 0.75em;
  }

  .larger-font {
    font-size: 1.5em;
    line-height: 1.75em;
  }

  .hide {
    display: none;
  }

  .mobile-message {
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 959px) {
  /* header
  =============================================== */
  .cell-1 .sldier-text h1.header-title {
    font-size: 2em;
    position: absolute;
    top: 0;
    margin: 0;
  }

  p.sldier-text {
    position: absolute;
    top: 10%;
    font-size: 1.15em;
    line-height: 1.5em;
  }

  .button {
    padding: 5%;
  }

  .footer button.button:hover span {
    padding-right: 15px;
  }

  .footer {
    padding-right: 35px;
  }

  .smaller-font {
    font-size: 0.75em;
  }

  .larger-font {
    font-size: 1.5em;
    line-height: 1.75em;
  }

  .hide {
    display: none;
  }

  /* fonts
  =============================================== */
  h1 {
    font-size: 1em;
  }

  p, .text {
    font-size: .9em;
    line-height: 1.5em;
  }

  .caption {
    z-index: 1;
  }

  .mobile-message {
    display: block;
  }

  #slides-motion {
    height: 75vh;
  }
}

/*# sourceMappingURL=style.css.map */