// _grid.scss

/* colors
===============================================
$primary-dark: rgba(0, 0, 0, 1);
$secondary-dark: rgba(49, 57, 35, 1);
$primary-blue: rgba(42, 162, 179, 1);
$secondary-blue: rgba(15, 213, 224, 1);
$primary-light: rgba(208, 221, 224, 1);
$secondary-light: rgba(153, 146, 140, 1);
$white: rgba(255, 255, 255, 1);
$test: rgba(175, 217, 22, 1);
===============================================
*/

/* Variables
============================================================= */
$gap-width: 10px;
$row-height: 60px;
$column-width: 60px;
$test-bkgd: rgba($test, .5);
$one-border: 1px solid rgba($white, .3);

/* Extend
============================================================= */
%main-grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px auto;
}

%one-column-left {
  grid-column-start: 1;
  grid-column-end: span 1;
}

%one-column-right {
  grid-column-start: 3;
  grid-column-end: span 1;
}

%two-column-left {
  grid-column-start: 1;
  grid-column-end: span 2;
}

%two-column-right {
  grid-column-start: 3;
  grid-column-end: span 2;
}

%three-column-left {
  grid-column-start: 1;
  grid-column-end: span 3;
}

%three-column-right {
  grid-column-start: 2;
  grid-column-end: span 3;
}

%four-column {
	grid-column-start: 1;
  grid-column-end: 5;
}

%gradient1 {
	background-image: rgba($secondary-blue, .3);  /* fallback for old browsers */
	background-image: linear-gradient(to top, rgba($secondary-blue, .3) 0%, rgba($primary-blue, .3) 100%);
}

%top-left-right-bottom {
  border-top: $one-border;
  border-left: $one-border;
  border-right: $one-border;
  border-bottom: $one-border;
}

%top-left-right {
  border-top: $one-border;
  border-left: $one-border;
  border-right: $one-border;
}

%left-right-bottom {
  border-left: $one-border;
  border-right: $one-border;
  border-bottom: $one-border;
}

%left-right {
  border-left: $one-border;
  border-right: $one-border;
}

%grid-bkbg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Layoute
============================================================= */

/* main grid */
.grid {
  @extend %main-grid;
  grid-template-rows: repeat(8, 180px) 1fr 1fr;
}

.cell {
  //padding: 1em;
}

/* cells */
.cell-1 {
	@extend %four-column;
  grid-row-start: 1;
  grid-row-end: 2;
}

.cell-2 {
  @extend %four-column;
  //@extend %top-left-right;
  position: relative;
  background-image: url('/img/gd_hp.jpg');
  @extend %grid-bkbg;
}

.cell-3 {
  @extend %four-column;
  //@extend %top-left-right-bottom;
  background-image: url('/img/wd_hp.jpg');
  @extend %grid-bkbg;
  position: relative;
}

.cell-4 {
  @extend %four-column;
  //@extend %left-right-bottom;
  background-image: url('/img/dev_hp.jpg');
  @extend %grid-bkbg;
  position: relative;
}

.cell-5 {
  @extend %four-column;
  //@extend %left-right-bottom;
  position: relative;
  background-image: url('/img/info_hp.jpg');
  @extend %grid-bkbg;
}

.cell-6 {
  @extend %four-column;
  //@extend %left-right-bottom;
  background-image: url('/img/pp_hp.jpg');
  @extend %grid-bkbg;
  position: relative;
}

.cell-7 {
  @extend %four-column;
  //@extend %left-right-bottom;
  position: relative;
  background-image: url('/img/motion_hp.jpg');
  @extend %grid-bkbg;
}

.cell-8 {
  @extend %four-column;
  //@extend %left-right-bottom;
  position: relative;
  background-image: url('/img/html_hp.jpg');
  @extend %grid-bkbg;
}

.cell-9 {
  @extend %four-column;
  //@extend %left-right-bottom;
}

.cell-10 {
  @extend %four-column;
  //grid-row-start: 1;
  //grid-row-end: 2;
}

.cell-11 {
  @extend %four-column;
  //grid-row-start: 1;
  //grid-row-end: 2;
}

/* media query */

@media (min-width: 768px) {
  .grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    margin: 50px auto;
  }

  .cell-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .cell-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    //border-top: $one-border;
    //border-left: $one-border;
    //border-bottom: $one-border;
    //border-right: none;
  }

  .cell-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    //border-top: $one-border;
    //border-left: $one-border;
    //border-bottom: $one-border;
    //border-right: $one-border;
  }

  .cell-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
    //border-top: $one-border;
    //border-left: $one-border;
    //border-bottom: $one-border;
    //border-right: $one-border;
  }

  .cell-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    //border-top: $one-border;
    //border-left: $one-border;
    //border-bottom: $one-border;
    //border-right: $one-border;
  }

  .cell-6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    //border-top: $one-border;
    //border-left: $one-border;
    //border-bottom: $one-border;
    //border-right: $one-border;
  }

  .cell-7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
    //border-top: $one-border;
    //border-left: $one-border;
    //border-bottom: $one-border;
    //border-right: $one-border;
  }

  .cell-8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
    //border-top: $one-border;
    //border-left: $one-border;
    //border-bottom: $one-border;
    //border-right: $one-border;
  }

  .cell-9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
  }

  .cell-10 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11;
  }

  .cell-11 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 11;
  }
}
