// _slider.scss

.cell-1 {
  test-align: center;
  width: 100%;
  height: auto;
  text-align: left;
  position: relative;
}
.cell-1 .sldier-text {
  position: relative;
}
.cell-1 .sldier-text h1 {
  animation: fade-in ease-in-out 2s 0.5s both;
}
.cell-1 .sldier-text p {
  font-size: 120%;
  animation: fade-in ease-in-out 2s 1s both;
}
.cell-1 ul.recent-works li {
	list-style-type: none;
	height: 100% !important;
  width: 100%;
	position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
	z-index: 0;
  opacity: 0;
  animation: fade-out 15s infinite both;
}

.cell-1 ul.recent-works li:nth-child(1) {
  background-image: url(/img/2400x500_1.png);
  animation-delay: 5s; }
  @media (min-width: 58em) {
    .cell-1 ul.recent-works li:nth-child(1) {
    background-image: url(/img/2400x500_1.png);
    background-position: 50%;
    }
}

.cell-1 ul.recent-works li:nth-child(2) {
  background-image: url(/img/2400x500_2.png);
  animation-delay: 10s; }
  @media (min-width: 58em) {
    .cell-1 ul.recent-works li:nth-child(2) {
    background-image: url(/img/2400x500_2.png);
    background-position: 50%;
    }
}

.cell-1 ul.recent-works li:nth-child(3) {
  background-image: url(/img/2400x500_3.png);
  animation-delay: 15s; }
  @media (min-width: 58em) {
    .cell-1 ul.recent-works li:nth-child(3) {
      background-image: url(/img/2400x500_3.png);
      background-position: 50%;
      }
    }

/*----------------------------------------------
--Fade ins
-----------------------------------------------  */
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }