@import 'palette';
@import 'grid';

/* Variables
===============================================
$primary-dark: rgba(22, 39, 34, 1);
$secondary-dark: rgba(56, 87, 85, 1);
$blue: rgba(42, 162, 179, 1);
$primary-light: rgba(228, 237, 239, 1);
$secondary-light: rgba(200, 195, 185, 1);
===============================================
*/


/* Fonts
=============================================== */

%title-font {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
	color: $blue;
}

%body-font {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgba( $primary-light, .7 );
}

h1 {
	@extend %title-font;
}


/* Body */

body {
	background-color: $primary-dark;
	@extend %body-font;
}

body, a {
	color: $primary-light;
}

.container {
  padding: 0 25px 25px 25px;
}



