@import 'palette';
@import 'grid';


/* Fonts
=============================================== */

%title-font {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
	color: $blue;
}

%body-font {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgba( $primary-light, .7 );
}

h1 {
	@extend %title-font;
}


/* Body */

body {
	background-color: $primary-dark;
	@extend %body-font;
}

body, a {
	color: $primary-light;
}

.char {
   border-radius: 3px;
   padding: 0.5em;
}



