@import '_normalize';
@import '_palette';
@import '_grid';
@import '_slider';
@import '_modal';

/* Colours
===============================================
$primary-dark: rgba(0, 0, 0, 1);
$secondary-dark: rgba(49, 57, 35, 1);
$primary-blue: rgba(42, 162, 179, 1);
$secondary-blue: rgba(15, 213, 224, 1);
$primary-light: rgba(208, 221, 224, 1);
$secondary-light: rgba(153, 146, 140, 1);
$white: rgba(255, 255, 255, 1);
===============================================
*/

/* Variables
=============================================== */
$fallback: Arial, sans-serif;
$heading: 'Roboto Mono', monospace;
$font-family: 'Roboto', sans-serif;
$font-size: 100%;
$heading-size: 1.25em;
$smaller: .75em;
$larger: 1.5em;

/* Extend
=============================================== */
%gradient-body {
	background-image: url(/img/star-bg.svg),linear-gradient(-45deg, rgba($primary-dark, .2) 30%, rgba($secondary-light, .8) 70%);
  background-color: darken($primary-blue, 10%);
	background-repeat: no-repeat;
  background-position: center 0, 0 0, 0 0;
  background-size: contain;
}

/* Body */
%title-font {
  font-family: $fallback;
  font-size: $heading-size;
  color: $white;
  .wf-active & {
    font-family: $heading;
  }
}

%body-font {
  font-family: $fallback;
  font-size: $font-size;
  color: rgba($white, .8);
  .wf-active & {
    font-family: $font-family;
  }
}

/* Layout
=============================================== */
body {
	@extend %gradient-body;
  @extend %body-font;
}

* {
  box-sizing: border-box;
}

h1 {
  @extend %title-font;
  display: inline;
  background-color: rgba($primary-dark, .5);
}

p, .text {
  font-size: .85em;
  line-height: 1.45em;
}

a {
  text-decoration: none;
  color: lighten($primary-blue, 40%);
}

a:hover {
  color: $white;
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

video {
  width: 100%;
  height: auto;
}

.container {
  padding: 0 25px 25px 25px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container > h1 {
  text-align: center;
}

.flex-container > a {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
}

.caption {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.caption bar a,
.blue {
  color: $secondary-blue;
}

.dark {
  color: $secondary-dark;
}

.mono {
  font-family: $heading;
}

.roboto {
  font-family: $font-family;
}

.mobile-message {
  display: none;
}

.motion-container {
  padding-top: 2%;
}

video.geminare {
  max-width: 508px;
  max-height: 300px;
}

video.linkpro {
  max-width: 752px;
  max-height: 240px;
}

video.bee {
  max-width: 750px;
  max-height: 562px;
}


/* header
=============================================== */
.cell-1 .sldier-text h1.header-title {
  font-size: 1.25em;
  background-color: transparent;
}

p.sldier-text {
  font-size: .8em;
  line-height: 1.45em;
}

/* button & more
=============================================== */
.button {
  background-color: $secondary-blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  padding: 2%;
}

.button:hover {
  background-color: rgba($secondary-dark, .3);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* footer
=============================================== */
.footer {
  padding-top: 25px;
}

.footer h1 {
  background-color: transparent;
}

/* media query
=============================================== */
@media (min-width: 768px) {

  /* header
  =============================================== */
  .cell-1 .sldier-text h1.header-title {
    font-size: 2em;
    position: absolute;
    top: 0;
    margin: 0;
  }

  p.sldier-text {
    position: absolute;
    top: 10%;
    font-size: 1.15em;
    line-height: 1.5em;
  }

  .button {
    padding: 5%;
  }

  .footer button.button:hover span {
    padding-right: 15px;
  }

  .footer {
    padding-right: 35px;
  }

  .footer h1 {
    //color: $white;
  }

  .smaller-font {
    font-size: $smaller;
  }

  .larger-font {
    font-size: $larger;
    line-height: 1.75em;
  }

  .hide {
    display: none;
  }

  /* fonts
  =============================================== */
  h1 {
    font-size: 1.25em;
  }

  p, .text {
    font-size: .9em;
    line-height: 1.5em;
  }

  .caption {
    z-index: 1;
  }

  .mobile-message {
      display: block;
    }

  #slides-motion {
    height: 75vh;
  }

}

